//root n stuffs
:root{
    --emperor: #616161;
    --brown: #618bb3;
    --transition: all 0.5s ease-in-out;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

/////////////////////////////////////////////////////////////////////////////////////

a{
    color: #000;
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
button{
    outline: 0;
    cursor: pointer;
}
.container{
    width: 90vw;
    margin: 0 auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin: 0.6rem 0;
    color: #e0e0e0;
    font-weight: 200;
    word-spacing: 2px;
}
//images slider n product details
#featured{
    max-width: 500px;
    max-height: 600px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
}
.thumbnail{
    object-fit: cover;
    max-width: 180px;
    max-height: 100px;
    cursor: pointer;
    opacity: 0.5;
    margin: 5px;
    border: 2px solid black;
}
.thumbnail:hover{
    opacity: 1;
}
.active{
    opacity: 1;
}
#slide-wrapper{
    max-width: 500px;
    display: flex;
    min-height: 100px;
    align-items: center;
}
#slider{
    width: 440px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.arrow{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}
.arrow:hover{
    opacity: .5;
    width: 35px;
    height: 35px;
}
//header
.header{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    display: flex;
    background: #616161;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-bottom: 1.5px solid #000;
}
.navbar-brand{
    padding: 30px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #000;
}
.navbar-toggler{
    z-index: 1000;
    padding: 0.2rem 0.4rem;
    font-size: 1.6rem;
    border: none;
    background: none;
    color: #000;
    transition: var(--transition);
}
.navbar-toggler:hover{
    color: var(--brown);
}
.nav-btns, .nav-icons{
    display: none;
}
.navbar-collapse{
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--emperor);
    height: 70%;
    width: 0;
    overflow: hidden;
    transition: var(--transition);
}
.nav-item{
    margin: 0.7rem 0;
    padding: 1rem 0;
    text-align: center;
}
.nav-link{
    color: var(--brown);
    text-transform: uppercase;
    letter-spacing: 1.3rem;
    font-size: 1.3rem;
    transition: var(--transition);
    i{
        font-size: 25px;
    }
}
.nav-link:hover{
    text-shadow: 0 0 4px #fff;
}
.navbar-nav{
    margin-top: 7rem!important;
    width: 90vw;
    margin: 0 auto;
}

/**********************/
.showNav{
    width: 100%;
}
/**********************/

//footer
.footer{
    text-align: center;
    background: #616161;
}
.footer-wrapper{
    padding: 5rem 0;
    div{
        margin: 2.5rem 0;
    }
}
.footer-links li{
    margin: 0.6rem 0;
    a{
        text-transform: uppercase;
        font-weight: 200;
        opacity: 0.9;
        color: #f1f1f1;
        transition: var(--transition);
    }
}
.footer-links li a:hover{
    color: var(--brown);
}
.footer-text{
    padding: 1.7rem 0;
}

/* media queries */

@media screen and (min-width: 500px){
    .navbar-brand{
        font-size: 1.5rem;
    }
    .nav-icons{
        display: flex;
        span{
            color: #000;
            font-size: 1.3rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: var(--transition);
        }
        span:hover{
            opacity: 0.8;
        }
    }
}

@media screen and (min-width: 992px){
    .navbar-toggler{
        display: none;
    }
    .nav-btns{
        display: flex;
        button{
            display: inline-block;
            font-size: 0.9rem;
            font-weight: 300;
            opacity: 0.9;
            padding: 0.4rem 0;
            border-width: 0.5px;
            border-style: solid;
            margin: 0 0.5rem;
            width: 100px;
            transition: var(--transition);
        }
        button:hover{
            opacity: 1;
        }
        button:first-child{
            border-color: var(--emperor);
            background: var(--emperor);
            color: #000;
        }
        button:first-child:hover{
            border-color: #000;
            background: transparent;
        }
        button:last-child{
            border-color: #000;
            background: transparent;
            color: #000;
        }
        button:last-child:hover{
            border-color: var(--emperor);
            background: var(--emperor);
        }
    }
    .navbar-extra-content{
        flex: 1 0 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
    }
    .navbar-collapse{
        position: relative;
        width: 100%;
        background: transparent;
        flex: 0 0 40%;
    }
    .navbar-nav{
        display: flex;
        margin: 0!important;
    }
    .nav-item{
        padding: 0;
        margin: 0 0.8rem;
    }
    .nav-link{ 
        margin: 0 2rem;
        font-size: 1rem;
        letter-spacing: normal;
        text-transform: capitalize;
        color: #000;
    }
    .nav-link:hover{
        text-shadow: none;
        color: var(--brown);
    }

}



//stopping anim n transition
.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}